#root {
  margin: 0 auto;
  text-align: center;
}
/*.headerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/
.card {
  padding: 2em;
}
.reservationButton,.loginButton, .reservationButton, .deleteButton, .backButton, .deleteButton{
  margin: 15px;
}
.outerContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}
.buttonContainer{

  display: flex;
  justify-content: center;
  align-items: center;

}
.field{
  border-radius: 5px;

}
.message{
  margin: 15px;
  text-align: center;
}
.LoginForm, .UserForm{
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formBox{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.mainTitle{
  background-color: #8d020b;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;

}

.imageContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px 0;
}

.nurseImage {
  max-width: 45%;
  height: auto;
}


.flexboxCalendar {
  height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
}
.flexboxTime{
  display: flex;
  justify-content: end;
  align-content: end;
  align-items: end;
  flex-direction: column;

}
.calendarBox{
  border-radius: 5px;
}
.showTime {
  max-height: 300px;
  overflow-y: scroll;
  padding-left: 20px;
}
.submitOrDeleteButton{
  padding-top: 15px;
}
.backButton{
  padding-top: 15px;
}
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border-radius: 10px;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

